#igrapole {
    background-color: black;
    width: 750px;
    height: 500px;
    margin-left: 150px;
    margin-top: 50px;
    border: 2px solid black;
}
.brick{
        background-color: blue;
        position: absolute;
}
#brick1 {
    width: 30px;
    height: 230px;
}
#brick2 {
    top: 320px;
    width: 30px;
    height: 230px;
}
#brick3 {
    left: 880px;
    width: 30px;
    height: 230px;
}
#brick4 {
    top: 320px;
    left: 880px;
    width: 30px;
    height: 230px;
}
#brick5 {
    width: 750px;
    height: 30px;
}
#brick6 {
    top: 520px;
    width: 750px;
    height: 30px;
}
#brick7 {
    top: 320px;
    width: 75px;
    height: 30px;
}
#brick8 {
    top: 252px;
    width: 75px;
    height: 30px;
}
#brick9 {
    left: 810px;
    top: 320px;
    width: 75px;
    height: 30px;
}
#brick10 {
    left: 810px;
    top: 252px;
    width: 75px;
    height: 30px;
}
#brick11 {
    left: 235px;
    top: 381px;
    width: 75px;
    height: 100px;
}
#brick12 {
    left: 360px;
    top: 381px;
    width: 75px;
    height: 100px;
}
#brick13 {
    left: 480px;
    top: 381px;
    width: 75px;
    height: 100px;
}
#brick14 {
    left: 600px;
    top: 381px;
    width: 75px;
    height: 100px;
}
#brick15 {
    left: 720px;
    top: 381px;
    width: 120px;
    height: 100px;
}
#brick16 {
    left: 280px;
    top: 290px;
    width: 220px;
    height: 60px;
}
#brick17 {
    left: 540px;
    top: 290px;
    width: 230px;
    height: 60px;
}
#brick18 {
    left: 280px;
    top: 210px;
    width: 490px;
    height: 40px;
}
#brick19 {
    left: 230px;
    top: 120px;
    width: 90px;
    height: 90px;
}
#brick20 {
    left: 750px;
    top: 120px;
    width: 90px;
    height: 90px;
}
#brick21 {
    left: 360px;
    top: 120px;
    width: 350px;
    height: 50px;
}
#packman {
    background-color: yellow;
    display: block;
    left: 190px;
    top: 287px;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
}
